{% extends "base.html" %}

{% block content %}


<div id="fq">

 <img src="../static/images/contact.jpg" alt="" id="contactimg">
<h1 id="faqtitle" class="center">Frequently Asked Question</h1>

<div id="faq">
    <button class="accordion">What sizes of cream cheese do you offer?</button>
    <div class="panel">
    <p>Our cream cheese is available in three sizes: small, medium, and large, catering to different needs and preferences. </p>
    </div>

    <button class="accordion">How long does the cream cheese stay fresh and what are the storing conditions?</button>
    <div class="panel">
    <p>Our cream cheese is made fresh and has a shelf life of approximately 3 weeks. For optimal freshness, it is recommended to 
        store our cream cheese in a cool area at a temperature below 5 degrees Celsius.</p>
    </div>

    <button class="accordion">Do you offer any specialty or limited edition cream cheese flavors?</button>
    <div class="panel">
    <p>Yes, we occasionally introduce specialty or limited edition cream cheese flavors to surprise and delight our customers. 
        Keep an eye out for exciting new offerings!</p>
    </div>

    <button class="accordion">Are your cream cheeses suitable for individuals with dietary restrictions (e.g., lactose-free / nut-free)?</button>
    <div class="panel">
    <p>Yes, we understand the importance of catering to dietary restrictions. We offer the options such as lactose-free and nut-free cream 
        cheeses to accommodate various dietary preferences.</p>
    </div>

    <button class="accordion">Can I place a bulk order for events or special occasions?</button>
    <div class="panel">
    <p>Certainly! We welcome bulk orders for events or special occasions at discounted prices, ensuring that everyone can savor the 
        delightful taste of our cream cheese. Please reach out to our customer support team to discuss your specific requirements.</p>
    </div>

    <button class="accordion">What are the delivery options and charges for shipping cream cheese?</button>
    <div class="panel">
    <p>While we currently do not provide delivery options for shipping cream cheese, we do offer a convenient pick-up option at no additional cost. 
        You can collect your order directly from our Melbourne CBD, Doncaster, or Point Cook locations, ensuring a hassle-free experience.</p>
    </div>

    <button class="accordion">Is there a minimum order requirement for purchasing cream cheese?</button>
    <div class="panel">
    <p>There is no minimum order requirement for purchasing cream cheese from our online shop. You can order as little or as much as you desire.</p>
    </div>

    <button class="accordion">How far in advance should I place my order to ensure availability?</button>
    <div class="panel">
    <p>To ensure availability, we recommend placing your cream cheese order at least three days in advance.</p>
    </div>

    <button class="accordion">What are the storage recommendations for your cream cheese products?</button>
    <div class="panel">
    <p>For optimal freshness, we suggest storing our cream cheese products in the refrigerator. It's best to follow the storage instructions provided with your order.</p>
    </div>

    <button class="accordion">Are there any discounts or promotions available for regular customers?</button>
    <div class="panel">
    <p>We are thrilled to offer special discounts and promotions to our regular customers. Stay updated on the latest deals and offers by 
        following us on social media. Keep an eye out for exciting discounts that will make your cream cheese experience even more delightful!</p>
    </div>

    <button class="accordion">Do you offer gift packaging or options for sending cream cheese as a gift?</button>
    <div class="panel">
    <p>Yes, we provide gift packaging options for sending cream cheese as a thoughtful present. You can select gift packaging during the ordering process.</p>
    </div>

    <button class="accordion">Are the ingredients used in your cream cheeses sourced locally or sustainably?</button>
    <div class="panel">
    <p>At our cream cheese shop, we place a high priority on sourcing ingredients locally and sustainably whenever feasible. Supporting local producers 
        and embracing environmentally friendly practices is at the core of our values. In addition, we are dedicated to using only premium products to ensure the 
        utmost quality in every bite.</p>
    </div>

    <button class="accordion">Are your cream cheese products available across Australia?</button>
    <div class="panel">
    <p>Currently, we are only located at Melbourne. We look forward to supplying our products across Australia in the near future.</p>
    </div>

    <button class="accordion">How can I contact customer support for any further inquiries or assistance?</button>
    <div class="panel">
    <p>If you have any further inquiries or require assistance, our dedicated customer support team is ready to help. You can reach out to us via email or 
        message our social media account and we'll be delighted to assist you.</p>
    </div>

    
</div>
</div>


<script>
    
    var acc = document.getElementsByClassName("accordion");
    var i;
            
    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
            panel.style.maxHeight = null;
        } else {
            panel.style.maxHeight = panel.scrollHeight + "px";
        } 
        });
    }
</script>



{% endblock %}