{% extends "base.html" %}

{% block content %}

<img id="vidimg" src="../static/images/vidimg.jpg" alt="">

<div id="content">

    <div id="products">
    <br>
        <h1 class="center" id="ccofbagel">THE <span style="color:rgb(246, 186, 143);">CREAM</span> <span style="color: gold;">CHEESE</span> TO YOUR BAGEL</h1>
        
            <div id="menu">
                <div class="menu-item menu-item-left">
                    <div id="menu-item-des">
                        <h1>Garlic & Chives</h1>
                        <p>Aromatic flavors of garlic with mild zest of chives.</p>
                    </div>
                    <img src="../static/images/matcha.JPG" alt="">
                </div>
                <br>

                <div class="menu-item menu-item-right">
                    <img src="../static/images/matcha.jpg" alt="">
                    <div id="menu-item-des">
                        <h1>Apricot & Macadamia</h1>
                        <p>Delightful fusion of fruity apricots & buttery crunch of macadamia nuts.</p>
                    </div>      
                </div>
                <br>
                
                <div class="menu-item menu-item-left">
                    <div id="menu-item-des">
                        <h1>Blueberry</h1>
                        <p>Symphony of creamy richness & burst of juicy blueberry goodness.</p>
                    </div>
                    <img src="../static/images/matcha.jpg" alt="">
                </div>
            </div>
        

        <h2 class="center" id="ourcc">Our versatile cream cheeses are available in <span class="three">three</span> sizes and <span class="three">three</span> price options, allowing you to choose the perfect fit for your cravings and budget.</h2>

        <div id="price">


            
            <img src="../static/images/matcha.jpg" alt="">
            
                    

            <div id="size">
                <h5>Small</h5>
                <p>120g<br>$15</p>

                <h5>Medium</h5>
                <p>300g<br>$30</p>

                <h5>Large</h5>
                <p>550g<br>$45</p>
            </div>
                    
        </div>
    </div>

</div>


{% endblock %}

