body {
    background-color:white;   
    
}


.center{
    text-align: center;
    padding: 10px;
}


li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
    display: inline;
}

  
li a{
    display: inline-block;
    color: black;
    text-align: center;
    padding-left: 20px;
    padding: 14px 16px;
    text-decoration: none;
}


#navbar{
    display: flex;
    font-size: 26px;
    font-weight: bold;
    align-items: center;
    padding-right: 20%;
    justify-content: space-between;
    
}




#navbar a:hover {
    color:darkseagreen;
}
  
#navbar a.active {
    background-color: #04AA6D;
    color: white;
}



#navbar img{
    height: 150px;
}

#ig{
    position:absolute;
    top: 0;
    right: 0;
    padding: 1.5%;
    margin: 10px;
    font-size: 24px;
    color:lightcoral;
    text-decoration: none;
    text-align:right;
}




video {
    width: 100%;
    height: auto;
}



#vidimg{
    width: 100%;
    height: auto;
}



#ccofbagel{
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 4vw;
}


#menu{
    padding: 5%;
}


#menu img{
    width: 50%;
    height: auto;


    /* aspect-ratio: 1/1; /* Set the aspect ratio to maintain square size */
    /* object-fit: cover; /* Maintain the image aspect ratio and cover the container */
}


.menu-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu-item .menu-item-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: end;
}

.menu-item .menu-item-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
}

.menu-item-right{
    text-align: end;
}

.menu-item img{
    border-radius: 50px;
}

#menu-item-des{
    width: 50%;
    
}

#menu-item-des p{
    color:dimgrey;
}

.menu-item-left p{
    padding-right: 10%;
}

.menu-item-right p{
    padding-left: 10%;
}

#ourcc{
    color:gold;
}


.three{
    color:darkorange;
}


#price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}

#size h5{
    font-size: 2.5vw;
}

#size p{
    font-size: 2vw;
}


#price img{
    width:50%;
    height: auto;
    border-radius: 50px;
}

#size{
    text-align: right;
    width: 50%;
}




#contactimg{
    max-width: 100%;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
}





#products{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#productimg img{
    max-width: 90%;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
}


#aboutus{
    background-image: url('../images/background.jpg');
}

#aboutimg img{
    max-width: 50%;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    float: left;
}

#aboutdesc {
    padding-right: 10%;
    padding-bottom: 5%;
    width: 50%;
    text-align: right;
    float: right;
}


#aboutdesc p{
    font-size: 20px;
}



#faqimg{
    max-width: 100%;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}


#faqtitle{
    padding-top: 30px;
    font-size: 7vw;
    /*font-family: 'Just Me Again Down Here';*/
}

#faq{
    padding: 5%;
}

.accordion {
    background-color:whitesmoke;
    color: #444;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.5s;
    border: 2px dashed #444;
    box-sizing: border-box;
    margin-top: 10px;
}

.active, .accordion:hover {
    background-color:gainsboro;
}
  
.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;

}
  
.active:after {
    content: "\2212";
}


  
.panel {
    padding: 0 18px;
    /* background-color:oldlace; */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel p{
    padding-top: 10px;
    font-size: 18px;
}


#footer{
    background-color: hotpink;
    padding: 10%;
    color: whitesmoke;
}

#footer p{
    font-size: 22px;
}

#contact-info {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
}


#contact-info p {
    font-size: 22px;
}



@media(max-width: 1100px){
    #footer p{
        font-size: 16px;
    }
}


@media(max-width: 800px){

    #navbar img{
        height: 80px;

    }

    body{
        font-size: x-small;
    }

    li a{
        display: inline-block;
        color: black;
        text-align: center;
        font-size: 16px;
        padding: 10px;
        text-decoration: none;
    }

    /*
    #menu img{
        width: 50%;
        height: auto;
        padding-bottom: 2%;
    }
    */




    #aboutdesc p{
        font-size: 20px;
    }


    #menu h1{
        font-size: 24px; 

    }

    #menu-item-des p{
        font-size:12px;
    }



    #aboutimg img{
        max-width: 100%;
        height: auto;
    }

    #aboutdesc {
        width: 100%;
        text-align:justify;
        padding: 5%;
    }

    #footer h1{
        font-size: 24px;
        padding-top: 10px;
    }


    

}


