{% extends "base.html" %}

{% block content %}

    <div id="aboutus">
        <h1 id="ccofbagel" class="center">THE <span style="color:rgb(246, 186, 143);">CREAM</span> <span style="color: gold;">CHEESE</span> TO YOUR BAGEL</h1>

        <br>

        <div id="aboutimg">
            <img src="../static/images/about.jpg" alt="">
        </div>

        <div id="aboutdesc">
        
            <p>Introducing J and E, two adventurous university students living on the edge, embarking on a quest through local supermarkets in search of the perfect 
                cream cheese. J wasn't a fan of cheese at the start, but E's passion for cream cheese was undeniable, resulting in their grocery trolley cart always 
                filled with this delectable spread.</p> 

            <p>After trying numerous store-bought cream cheeses, they felt something was amiss - the intensity, portion, or flavors just didn't hit the mark. That's 
                when inspiration struck! They decided to create their very own cream cheese, infused with their unique touch.</p>
                
            <p>Yes, you heard it right. It's their cream cheese, crafted with their desired intensity, portions, flavors, and overflowing love! (Unbiased opinion … 
                well, maybe just a little biased) It stands among the best, finest, and most awesome cream cheeses they've ever tasted. Now, they want to share this 
                extraordinary creation with the world, starting with you.</p>
                
            <p>Don't hesitate any longer! Come on board and join the cream cheese club to elevate your cheese experience to extraordinary heights.</p>
            



        </div>

    </div>
{% endblock %}

